<!DOCTYPE html>
<html lang='en'>
<head>
	<!-- <meta charset='utf-8'> -->
	<link rel="stylesheet" href="stylesheets/style1.css">
	<title>Trip Planner</title>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container navcontainer">
			<ol class="navlist">
				<li><a href="/index">HOME</a></li>
				<li><a href="/activities">ACTIVITIES</a></li>
				<li><a href="/hotels">HOTELS</a></li>
				<li><a href="/restaurants">RESTAURANTS</a></li>
				<li><a href="/contact">CONTACT</a></li>
			</ol>
		</div>
	</nav>
	<div id="main"></div>
{% block body %} {% endblock %}
<footer></footer>

	<!-- <iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBm90PhPugCz-vwk3dgUZQlb2Mkg_htuHA
    &q=New+York+NY" allowfullscreen>
	</iframe> -->
</body>
</html>
